.login-form {
    width: 25rem;
    margin: auto;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login-form-wrapper {
        margin: 1rem 0;
        display: flex;
        width: 25rem;
        justify-content: space-between;
        input {
            width: 15rem;
            padding: 0.5rem 1rem;
            margin: -0.5rem 0;
            border: 1px solid #808080;
            border-radius: 10px;
            font-family: 'Lato', sans-serif;
        }
    }
    .login-link {
        align-self: flex-end;
    }
    .login-btn {
        padding: 1rem 0;
        width: 15rem;
        margin: 5rem 0 0 0;
        background-color: #c4c4c4;
        color: black;
    }
}
.login-page {
    height: 80vh;
}
