.form-file {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    img {
        height: 10rem;
        width: 10rem;
        margin: 1rem 0;
    }
    h2 {
        font-family: 'Barlow', sans-serif;
        font-weight: bold;
        color: $red-color;
        font-size: 1.2rem;
    }
    label {
        text-decoration: underline;
        width: fit-content;
        cursor: pointer;
    }
    input {
        display: none;
    }
}
