.new-arrivals {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    h2 {
        font-family: 'Barlow', sans-serif;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .show-more-btn {
        align-self: flex-end;
        padding: 1rem 0;
        width: 15rem;
        align-self: flex-end;
    }
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.ad-mini {
    cursor: pointer;
    margin: 0 3rem 2rem 0;

    .car-name {
        margin: 0.5rem 0 0 0;
        font-family: 'Lato' sans-serif;
        font-size: 0.8rem;
        font-weight: normal;
        color: black;
    }
    .price {
        margin: 0.5rem 0 0 0;
        font-family: 'Lato', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        color: $red-color;
    }
    img {
        width: 15rem;
        height: 12rem;
        object-fit: cover;
        overflow: hidden;
    }
}
