.footer {
    height: 5rem;
    background-color: #c4c4c4;
    left: 0;
    bottom: 0;
    width: 100%;
    .rights {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        margin: auto;
        h2 {
            font-family: 'Barlow', sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
